/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Header */
.head {
    width: 100%;
    height: 80px;
    background-color: #f39200;   /* màu cam */
    display: flex;
    align-items: center;
}
.head img{
    height: 80px;
}
.search {
    width: 600px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search .icon {
    font-size: 18px;
    opacity: 0.7;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding-left: 10px;
    color: #333;
}

/* Tổng container chia 2 cột */
.container {
    display: flex;
    height:93vh;
}

/* Navigation bên trái */
.navigation {
    position: relative;
    width: 230px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navigation span {
    display: block;
    margin: 15px 0;
    font-size: 18px;
}

.navigation a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navigation a:hover {
    color: #1abc9c;
}

.navigation hr {
    margin: 15px 0;
    border: 1px solid #1abc9c;
}

.navigation button {
    margin-top: auto;
    padding: 10px;
    border: none;
    background: #e74c3c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}


.navigation button:hover {
    background: #c0392b;
}

/* Body bên phải */
.body {
    flex: 1;
    padding: 50px;
    background: #f5f5f5;
}

/* Tiêu đề */
.body h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.buttonAddproduct {
    position: absolute;
    padding: 12px 25px;
    background: #1abc9c;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    right: 30px;
}
.body button:hover {
    background: #16a085;
}

.product-img {
    width: 110px;
    height:110px;
    object-fit: cover;
}

.edit-button {
    font-size: 18px;
    padding: 12px 25px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    opacity: 0.9;
}

.Displaypage{
    padding-top: 80px;
}

/*căn giữa tất cả trong bảng*/
.Displaypage table {
    margin: 0 auto; /* căn giữa toàn bộ bảng trong trang */
}

.Displaypage th,
.Displaypage td {
    text-align: center;      /* căn giữa chữ */
    vertical-align: middle;  /* căn giữa theo chiều dọc */
}

.Displaypage th{
    font-weight: bold;
    font-size: 1.5em;
}
.Displaypage th, .Displaypage td{
    border: 2px solid black;
}



#img {
    width: 250px;
}

#productname {
    width: 180px;
}

#information {
    width: 300px;
}

#stockquantity {
    width: 160px;
}
#status{
    width: 200px;
}
#edit{
    width: 200px;
}
