/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Header */
.head {
    width: 100%;
    background: #e48705;
    height: 70px;
}

.head img {
    height: 100%;
}
.buttonlogo{
    height: 100%;
}

/* Tổng container chia 2 cột */
.container {
    display: flex;
    height:93vh;
}

/* Navigation bên trái */
.navigation {
    position: relative;
    width: 230px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navigation span {
    display: block;
    margin: 15px 0;
    font-size: 18px;
}

.navigation a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navigation a:hover {
    color: #1abc9c;
}

.navigation hr {
    margin: 15px 0;
    border: 1px solid #1abc9c;
}

.navigation button {
    margin-top: auto;
    padding: 10px;
    border: none;
    background: #e74c3c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

.navigation button:hover {
    background: #c0392b;
}

/* Body bên phải */
.body {
    flex: 1;
    padding: 50px;
    background: #f5f5f5;
}

/* Tiêu đề */
.body h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.body button {
    position: absolute;
    padding: 12px 25px;
    background: #1abc9c;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    right: 30px;
}
.body button:hover {
    background: #16a085;
}
.Displaypage{
    padding-top: 80px;
}
.Displaypage th{
    font-weight: bold;
    font-size: 1.5em;
}
.Displaypage th, .Displaypage td{
    border: 2px solid black;
}

#code {
    width: 160px;
}

#img {
    width: 230px;
}

#productname {
    width: 300px;
}

#cost {
    width: 160px;
}

#stockquantity {
    width: 100px;
}